@using Pokedex.Client
@inject Pokedex.Client.Client PokedexClient

@if(pokemon != null)
{
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="..." class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="text-light">@pokemon.Name</h5>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="col">ID</th>
                            <td>@pokemon.Id</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>@pokemon.Category</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>@pokemon.Height</td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>@pokemon.Weight</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{
    <text>Finding pokemon...</text>
}

@functions {
    [Parameter]
    private int Id { get; set; }

    Pokemon pokemon;

    protected override async Task OnInitAsync()
    {
        pokemon = await PokedexClient.ApiPokemonsByIdGetAsync(Id);
    }
}