@page "/pokemons/all"
@using Pokedex.Client
@inject Client PokedexClient

<h2>Pokemons List</h2>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
    </tr>
    </thead>
    @if (_pokemons != null)
    {
        <tbody>
        @foreach (var pokemon in _pokemons)
        {
            <tr>
                <th scope="row">@pokemon.Id</th>
                <td>@pokemon.Name</td>
                <td>@pokemon.Category</td>
                <td>@pokemon.Height</td>
                <td>@pokemon.Weight</td>
            </tr>
        }
        </tbody>
    }
    else
    {
        <text>Finding pokemons...</text>
    }
</table>

@functions {
    private IEnumerable<Pokemon> _pokemons;

    protected override async Task OnInitAsync()
    {
        _pokemons = await PokedexClient.GetPokemonAllAsync();
    }
}