@using Pokedex.Client

<table class="table table-bordered">
    <tbody>
    <tr>
        <th>#</th>
        <td>@Pokemon.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Pokemon.Name</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Pokemon.Category</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>@Pokemon.Height</td>
    </tr>
    <tr>
        <th>Weight</th>
        <td>@Pokemon.Weight</td>
    </tr>
    </tbody>
</table>

@functions {
    [Parameter] private Pokemon Pokemon { get; set; }
}